@import "./modules-scss/variables";
@import "./modules-scss/container";
@import "./modules-scss/header";
@import "./modules-scss/input-block";
@import "./modules-scss/display";
@import "./modules-scss/controls";
@import "./modules-scss/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: $font;
    font-size:$font-size;
    @media screen and (min-width: 1024px){
        font-size: $font-size-desktop;
    }
}
body{
    background: #505097;
}
