@import "./modules-scss/variables";
@import "./modules-scss/container";
@import "./modules-scss/header";
@import "./modules-scss/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: $font;
    font-size:$font-size
}
body{
    background: #505097;
}
.update_container{
    #break-label,
    #session-label{
        font-weight: 400;
        font-style: italic;
        text-shadow: 5px 5px 10px #1f1f1f;
    }
    .updating_block{    
        display: flex;    
        justify-content: center;
        margin: .5rem auto;
        p{
            margin: 0 1rem;
            font-size: 1.3rem;
        }
        label{
            font-size: 1.5rem;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            &::selection{
                background-color: transparent;
            }
        }
    }
}
.display{
    grid-column: 1 / -1;
    .time-left{
        font-family: $font-number
    }   
}
.controls{
    grid-column: 1 / -1;
}