footer{
    grid-column: 1 / -1;
    margin: .5rem auto;
    p{
        text-align: center;
        color: aliceblue;
        a{
            color: aliceblue;
            letter-spacing: .1rem;
        }
    }
}