/*##Colors*/


/*### Neutral*/

$very-dark-blue: #1769aa;
$grayish-blue: #4dabf5;
$light-grayish-blue: #2196f3;

/*## Typography*/

/*### Body*/

$font-size: 20px;

/*### Font*/

$font: 'Montserrat', sans-serif;

$font-w-bold:700;
$font-w-normal:400;
$font-w-light:300;

